* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #017eff;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

body {
    line-height: 31px;
    background: #F5F5F5;
}

.login-icon {
    font-size: 24px !important;
    position: relative;
    top: 2px;
    left: -2px;
}

ul#menu {
    float: left;
}

ul#menu li {
    float: left;
    list-style-type: none;
    padding: 0px 20px;
}

.active {
    background: #080808;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

#header {
    background: #222222;
    color: #9D9D9D;
    height: 60px;
    line-height: 60px;
    position: fixed;left: 0px;right: 0px;top: 0px;}

div#header:after {
    content: "";
    clear: both;
    display: table;
}

#logo {
    float: left;
    padding: 0px 20px;
    font-size: 20px;
}

#login {
    float: right;
    margin-right: 30px;
}

.mt-60 {
    margin-top: 60px;
}

#content {
    height: 800px;
    color: #333333;
    background: #fff;
}

div#content p {
    margin-bottom: 24px;
}

div#content h1 {
    margin: 20px 0px;
    font-size: 40px;
}

#sidebar-left {
    text-align: center;
    line-height: 40px;
}

#side-bar-right {
}

.ads {
    border: 1px solid #6b6b6b;
    margin: 15px;
    line-height: 100px;
    text-align: center;
    background: #F5F5F5;
}

#footer {
    background: #555555;
    color: #d2d2d2;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}